<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Dao/Mapper接口 -->
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,'admin','123456',23,'男','12345@qq.com')
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
        update t_user set username = '张三' where id = 12
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 14
    </delete>

    <!--User getUserById();-->
    <!--
        查询功能的标签必须设置resultType或resultMap
        resultType（结果类型）：设置默认的映射关系，字段名和属性名一致
        resultMap（结果映射）：设置自定义的映射关系，字段名和属性名不一致
    -->
    <select id="getUserById" resultType="com.atguigu.mybatis.pojo.User">  <!--  resultType=" _ " 实体类的全类名 -->
        select * from t_user where id = 11
    </select>

    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="com.atguigu.mybatis.pojo.User">
        select * from t_user
    </select>

</mapper>